<h1>Burger Time!</h1>
<br>
<h2>Burgers to be Eaten</h2>
<ul>
    {{#each burgers}}
        {{#unless devoured}}
            <li>
                {{this.burger_name}}.{{this.burger}}
                <button type="button" class="btn btn-warning devourbttn" data-id="{{this.id}}">Devour</button>
            </li>
        {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that have been Eaten</h2>
<ul>
    {{#each burgers}}
        {{#if devoured}}
              {{this.burger_name}}.{{this.burger}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
    <form>
        What burger would you like to add?
        <br>
        <input type="text" name="burger_name">
        <br>
        <button type="submit button" class="btn btn-warning">Add Burger!</button>
    </form>

<script type="text/javascript">
    $(".devourbttn").on("click", function(event) {
        var id = $(this).data("id");

        $.ajax("/burgers/" + id, { 
        type: "PUT",
        data: true
        }).then(
        function() {
            console.log("updated ", id);
            location.reload();
        }
        );
    });
</script>