{{!-- Header --}}
<div id="header">
    <h1>Burger Time!</h1>
    <br>
</div>

<div class="container">
    {{!-- Row 1 Burgers to be eaten and Burgers Eaten --}}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h2>Burgers to be Eaten</h2>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        <li>
                            {{this.burger_name}}.{{this.burger}}
                            <button type="button" class="btn btn-warning devourbttn" data-id="{{this.id}}">Devour</button>
                        </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-md-5">
            <h2>Burgers that have been Eaten</h2>
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        <li>
                            {{this.burger_name}}.{{this.burger}}
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-1"></div>
    </div>

    {{!-- Row 2 Add a Burger --}}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Add a Burger</h2>
            <form>
                What burger would you like to add?
                <br>
                <input type="text" id="newBurger">
                <br>
                <button type="submit button" class="btn btn-warning addBttn">Add Burger!</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{{!-- Javascript --}}
<script type="text/javascript">
    $(function() {
        //function to change devour state to true
        $(".devourbttn").on("click", function(event) {
            console.log("devour button clicked");
            var id = $(this).data("id");
            var eaten = {devoured: true};
            $.ajax("/api/burgers/" + id, { 
            type: "PUT",
            data: eaten
            }).then(
            function() {
                console.log("updated ", id);
                location.reload();
            }
            );
        });

        $(".addBttn").on("click", function(event) {
            event.preventDefault();
            console.log("add button clicked");
            var newBurger = {burger_name: $("#newBurger").val().trim()};

            $.ajax("/api/burgers/", { 
                type: "POST",
                data: newBurger
            }).then(
            function() {
                console.log("new burger created");
                location.reload();
            });
        });
    });
</script>